:root {
  --clr-primary-hsl-moderate-violet: 263, 55%, 52%;
  --clr-primary-hsl-very-dark-grayish-blue: 217, 19%, 35%;
  --clr-primary-hsl-very-dark-blackish-blue: 219, 29%, 14%;
  --clr-primary-hsl-white: 0, 0%, 100%;
  --clr-neutral-hsl-light-gray: 0, 0%, 81%;
  --clr-neutral-hsl-light-grayish-blue: 210, 46%, 95%;
  /* HSL-Farben unter Verwendung von var() */
  --clr-primary-moderate-violet: hsl(var(--clr-primary-hsl-moderate-violet));
  --clr-primary-very-dark-grayish-blue: hsl(var(--clr-primary-hsl-very-dark-grayish-blue));
  --clr-primary-very-dark-blackish-blue: hsl(var(--clr-primary-hsl-very-dark-blackish-blue));
  --clr-primary-white: hsl(var(--clr-primary-hsl-white));
  --clr-neutral-light-gray: hsl(var(--clr-neutral-hsl-light-gray));
  --clr-neutral-light-grayish-blue: hsl(var(--clr-neutral-hsl-light-grayish-blue));
  --ff-primary: "Barlow Semi Condensed";
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-neutral-light-grayish-blue);
  font-family: var(--ff-primary);
  font-size: 13px;
}

@media (min-width: 600px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}
.main-container {
  padding: 10em 20em;
}

h2 {
  font-size: 26px;
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-picture {
  border-radius: 50%;
  border: 2px solid var(--clr-light-gray);
}

.card {
  padding: 3em;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.card-daniel {
  background-color: var(--clr-primary-moderate-violet);
  width: 52%;
}

.card-jonathan {
  background-color: var(--clr-primary-very-dark-grayish-blue);
  width: 25%;
}

.card-jonathan h2 {
  color: var(--clr-primary-white);
}

.card-jeanette {
  background-color: var(--clr-primary-white);
  width: 25%;
}

.card-jeanette .name,
.card-jeanette h2 {
  color: var(--clr-primary-very-dark-grayish-blue);
}

.card-jeanette .graduate {
  color: hsl(var(--clr-primary-hsl-very-dark-grayish-blue), 0.5);
}

.card-jeanette p {
  color: hsl(var(--clr-primary-hsl-very-dark-grayish-blue), 0.7);
}

.card-patrick {
  background-color: var(--clr-primary-very-dark-blackish-blue);
  width: 52%;
}

.card-patrick h2 {
  color: var(--clr-primary-white);
}

.card-kira {
  background-color: var(--clr-primary-white);
  width: 25%;
}

.card-kira .name,
.card-kira h2 {
  color: var(--clr-primary-very-dark-grayish-blue);
}

.card-kira .graduate {
  color: hsl(var(--clr-primary-hsl-very-dark-grayish-blue), 0.5);
}

.card-kira p {
  color: hsl(var(--clr-primary-hsl-very-dark-grayish-blue), 0.7);
}

.main-container h1 {
  color: var(--clr-primary-white);
  font-weight: 600;
}

.name-info {
  margin-left: 1em;
}

.name {
  color: var(--clr-neutral-light-grayish-blue);
  font-weight: 600;
}

p,
.graduate {
  line-height: 1.5;
  font-weight: 600;
}

.graduate {
  color: hsl(var(--clr-neutral-hsl-light-grayish-blue), 0.5);
}

p {
  color: hsl(var(--clr-neutral-hsl-light-grayish-blue), 0.7);
  font-size: 1.1rem;
}

.flex {
  display: flex;
  -moz-column-gap: 2em;
       column-gap: 2em;
}/*# sourceMappingURL=style.css.map */