:root {
  --clr-primary-700: hsl(246, 80%, 60%);
  --clr-primary-600: hsl(15, 100%, 70%);
  --clr-primary-500: hsl(195, 74%, 62%);
  --clr-primary-400: hsl(348, 100%, 68%);
  --clr-primary-300: hsl(145, 58%, 55%);
  --clr-primary-200: hsl(264, 64%, 52%);
  --clr-primary-100: hsl(43, 84%, 65%);

  --clr-neutral-400: hsl(226, 43%, 10%);
  --clr-neutral-300: hsl(235, 46%, 20%);
  --clr-neutral-290: hsl(235, 46%, 40%);
  --clr-neutral-200: hsl(235, 45%, 61%);
  --clr-neutral-100: hsl(236, 100%, 87%);

  --ff-primary: 'Rubik', sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

picture,
img {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--clr-neutral-400);
  color: var(--clr-neutral-100);
  /* display: grid;
  place-content: center; */
  font-family: var(--ff-primary);
  min-height: 100vh;
  padding: 0;
}

body p {
  margin: 0;
}

.main-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'profile'
    'card-work'
    'card-play'
    'card-study'
    'card-exercise'
    'card-social'
    'card-self-care';
  gap: 1em;
  padding: 3em 1em;
  min-width: 375px;
}

.profile {
  border-radius: 1em;
  background-color: var(--clr-neutral-300);
  grid-area: profile;
}

.profile__upper-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-700);
  border-radius: 1em;
  padding: 1em 0;
  gap: 3em;
}

.profile__upper-section span {
  color: var(--clr-neutral-200);
  font-weight: var(--fw-400);
  font-size: 1rem;
  font-family: var(--ff-primary);
}

.profile__name {
  font-size: 1.5rem;
  color: white;
  font-weight: var(--fw-300);
}

.profile__img {
  width: 4em;
  height: 4em;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 50%;
}

.flex-group {
  display: flex;
  padding: 0.5em 1.5em;
  justify-content: space-between;
  color: var(--clr-neutral-200);
}

.flex-group__weekly {
  color: white;
}

.flex-group__weekly,
.flex-group__daily,
.flex-group__monthly {
  cursor: pointer;
  transition: 0.15ms;
}
.flex-group__weekly:hover,
.flex-group__daily:hover,
.flex-group__monthly:hover {
  color: white;
}

.flex-group-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5em;
  padding-top: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
}

.flex-group-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-bottom: 1.5em;
}

.card {
  border-radius: 1em;
  overflow: hidden;
  cursor: pointer;
}

.card-work {
  background-color: var(--clr-primary-600);
  grid-area: card-work;
}

.card-play {
  background-color: var(--clr-primary-500);
  grid-area: card-play;
}

.card-study {
  background-color: var(--clr-primary-400);
  grid-area: card-study;
}

.card-exercise {
  background-color: var(--clr-primary-300);
  grid-area: card-exercise;
}

.card-social {
  background-color: var(--clr-primary-200);
  grid-area: card-social;
}

.card-self-care {
  background-color: var(--clr-primary-100);
  grid-area: card-self-care;
}

.card__activity {
  font-size: 0.85rem;
  color: white;
  font-weight: var(--fw-500);
}

.card__working-hours {
  font-size: 2rem;
  color: white;
  font-weight: var(--fw-300);
}

.card__more {
  font-size: 2rem;
  transition: 0.15ms;
}

.card__more:hover {
  color: white;
}

.card__upper-section {
  height: 35px;
  position: relative;
}

.card__img {
  margin-right: auto 0;
  z-index: 100;
  position: absolute;
  right: 0.5em;
  top: -1em;
}

.lower-section {
  background-color: var(--clr-neutral-300);
  border-radius: 1em;
  z-index: 200;
  position: relative;
  transition: 0.15ms;
}

.lower-section:hover {
  background-color: var(--clr-neutral-290);
}

.hide {
  display: none;
}

@media (min-width: 600px) {
  body {
    display: grid;
    place-content: center;
  }
  .main-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'profile card-work card-play card-study'
      'profile card-exercise card-social card-self-care';
  }

  .profile {
    grid-area: profile;
  }

  .profile__name {
    font-size: 2.2rem;
    text-wrap: wrap;
    max-width: 95%;
  }

  .profile__img {
    align-self: flex-start;
  }

  .profile__upper-section {
    flex-direction: column;
    gap: 0;
    padding: 1em 1.5em;
  }

  .flex-group {
    flex-direction: column;
    gap: 2em;
  }

  .flex-group-2 {
    flex-direction: column;
    align-items: flex-start;
  }

  .card__working-hours {
    font-size: 3rem;
  }

  .card-work {
    grid-area: card-work;
  }

  .card-play {
    grid-area: card-play;
  }

  .card-study {
    grid-area: card-study;
  }

  .card-exercise {
    grid-area: card-exercise;
  }

  .card-social {
    grid-area: card-social;
  }

  .card-self-care {
    grid-area: card-self-care;
  }
}
