:root {
  --clr-primary: hsl(172, 67%, 45%);

  --clr-neutral-600: hsl(183, 100%, 15%);
  --clr-neutral-500: hsl(186, 14%, 43%);
  --clr-neutral-400: hsl(184, 14%, 56%);
  --clr-neutral-300: hsl(185, 41%, 84%);
  --clr-neutral-200: hsl(189, 41%, 97%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-primary: 'Space Mono', sans-serif;

  --fw-bold: 700;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: var(--clr-neutral-300);
  font-family: var(--ff-primary);
  font-size: 1rem;
}

header {
  padding: 1.5em 1.5em 0 1.5em;
  text-align: center;
}

header > h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--clr-neutral-600);
  letter-spacing: 0.3em;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

h1 > span {
  display: block;
}

.container {
  background-color: white;
  padding: 1em;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

p {
  color: var(--clr-neutral-500);
  font-weight: var(--fw-bold);
  font-size: 1rem;
}
.bill__title {
  margin-bottom: 0.5em;
}

input {
  border: none;
  background-color: var(--clr-neutral-200);
  margin-bottom: 0.5em;
  width: 100%;
  padding: 0.2em 0.5em;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.5em;
  font-weight: var(--fw-bold);
  text-align: right;
  outline: none;
  cursor: pointer;
}

input:focus {
  border: 3px solid var(--clr-primary);
}

.bill__input {
  background-image: url('images/icon-dollar.svg');
}

.number-people__title {
  margin-bottom: 0.5em;
}

.number-people__input {
  background-image: url('images/icon-person.svg');
}

input::placeholder {
  color: #9ebbbd;
  text-align: right;
}

.select-tip {
  margin-bottom: 0.5em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.2em;
  margin-bottom: 0.5em;
}

button {
  font-size: 1rem;
  color: white;
  background-color: var(--clr-neutral-600);
  border: none;
  font-weight: var(--fw-bold);
  border-radius: 0.2em;
  padding: 0.5em 0.8em;
  cursor: pointer;
  font-family: var(--ff-primary);
}

.input-button {
  background-color: var(--clr-neutral-200);
  color: #547878;
  margin: 0;
  font-weight: var(--fw-bold);
  border-radius: 0.2em;
}

.input-button::placeholder {
  text-transform: capitalize;
  text-align: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-neutral-600);
  font-size: 1rem;
  padding: 1em 1em;
  gap: 0.5em;
  border-radius: 1em;
}

.flex1,
.flex2 {
  display: flex;
  color: white;
  justify-content: space-between;
}

.inner-container p {
  color: white;
}

.inner-container span {
  font-size: 13px;
  color: #7f9d9f;
  display: block;
}

.inner-container .tipnode {
  font-size: 1.5rem;
  color: #26c2ae;
}

.grid > button.clicked {
  background-color: #26c2ae;
  color: #00474b;
}

.reset-button {
  background-color: #0d686d;
  color: #00474b;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0.35;
}

.not-empty-reset {
  background-color: #26c2ae;
  opacity: 1;
}
