* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: black;
}

div {
  color: white;
  font-family: Inter, Arial;
}